node_modules/
package-lock.json
yarn.lock
dist/
build/
release/
*.exe
*.deb
*.rpm
*.dmg
*.AppImage
.env
.env.*
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
electron-builder.yaml
.cache/
.npm/
.eslintcache
coverage/
.nyc_output/
tmp/
temp/
